<button class="btn btn-danger pull-right button-up"{{action 'delete' post}}>Delete Question</button>
<div class="well detail-height">
  <span class="pull-left"><img src={{post.image}}/></span>
  <h2>{{post.question}}<br></h2>
  <h4><span class=""><i>Tip:</i> {{post.note}}</span></h4>
  <h5><span class=""><i>Question By</i> {{post.author}}</span></h5><hr>
  <h2>Answer</h2>
  <ul>
    {{#each post.responses as |response|}}
      {{response-tile response=response destroyResponse="destroyResponse"}}
    {{/each}}
  </ul>
</div>
