<div class="well">
<div class="left-image">

</div>
<div id="right-post-detail">
  <span class="pull-left"><img src={{post.image}}/></span>
  <span class="post-title">{{post.question}}</span><br>
  <span class="">{{post.notes}}</span><br><br><br><br>
  <span class="">By {{post.author}}</span>
</div>

<!-- <h2> Comments </h2>
<ul>
  {{#each post.comments as |comment|}}
    {{comment-tile comment=comment destroyComment="destroyComment"}}
  {{/each}}
</ul> -->



<!-- <button class="btn btn-danger pull-right button-up"{{action 'delete' post}}>Delete</button> -->

</div>
